// @font-face {
//   font-family: 'icomoon';
//   src:  url('../../assets/fonts/icomoon.eot?etipif');
//   src:  url('../../assets/fonts/icomoon.eot?etipif#iefix') format('embedded-opentype'),
//     url('../../assets/fonts/icomoon.ttf?etipif') format('truetype'),
//     url('../../assets/fonts/icomoon.woff?etipif') format('woff'),
//     url('../../assets/fonts/icomoon.svg?etipif#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  perspective: 7000px;
  font-family: sans-serif;
  background-image: url(../../assets/wood.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h1, h2 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 6vw;
  margin-bottom: 3px;
}

#card {
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
}

#card.flipped #front {
  transform: rotateY(180deg) !important;
}

#card.flipped #back {
  transform: rotateY(0deg) !important;
}

#card > div {
  backface-visibility: hidden;
  border: 1px solid lightgray;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 4%;
  transition: 200ms;
  box-shadow: 5px 5px 15px #888888;
}

#front {
  transform: rotateY(0deg);
  z-index: 2;
  background-color: white;
}

#back {
  transform: rotateY(-180deg);
  z-index: 1;
  background-color: white;
}

.container {
  /* border: 1px dashed lightgray; */
  height: 100%;
  position: relative;
}

.text {
  cursor: default;
  text-align: center;
  font-weight: bold;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  overflow-wrap: normal;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  -webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

.note {
  position: relative;
  width: 150px;
  height: 170px;
  padding: 25px;
  margin: 15px auto;
  color: #000;
  background: linear-gradient(to bottom left, transparent 50%, #eee 50%), linear-gradient(to right, #fff 99.9%, transparent 99.9%), linear-gradient(to right, #fff 99.9%, transparent 99.9%);
  background-size: 16px 16px, 100% 100%, 100% 100%;
  background-position: 100% 0%, -16px 0%, 100% 16px;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-box-shadow: -5px 4px 17px -6px rgba(0,0,0,0.5);
  -moz-box-shadow: -5px 4px 17px -6px rgba(0,0,0,0.5);
  box-shadow: -5px 4px 17px -6px rgba(0,0,0,0.5);}

.intro table {
  margin: 0 auto;
}

.intro .key {
  border: 2px solid black;
  height: 40px;
  min-width: 40px;
  border-radius: 4px;
  transition: 100ms;
}

.intro .space.key {
  width: 200px;
}

.intro .key.pressed {
  background-color: lightgray;
}

.intro .blank {
  width: 75px;
}

.intro .asdf {
  display: flex;
  margin-top: 50px;
}

.intro .asdf > div {
  flex: 1;
  padding: 15px;
  border: 3px dashed gray;
  border-radius: 5px;
  margin: 15px;
}

.intro .asdf > div:first-child {
  margin-left: 30px;
  padding-bottom: 270px;
}

.intro .asdf > div:last-child {
  margin-right: 30px;
}

.intro pre {
  text-align: left;
}

@keyframes show-right {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes dispose-left {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate(-80%, -50%) scale(1.3) rotate(-35deg);
  }
}

@keyframes drag-and-drop {
  /* Drag the thing to the right */
  0% {
    opacity: 0;
    position: absolute;
    left: 17%;
    transform: translate(-50%) scale(1) rotate(0deg);
  }
  8% {
    opacity: 1;
    position: absolute;
    left: 17%;
    transform: translate(-50%) scale(1) rotate(0deg);
  }
  75% {
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%) scale(1);
  }
  90% {
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%) scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%) scale(0.5) rotate(15deg);
  }
}

@keyframes highlight-dropzone {
  /* Drag the thing to the right */
  0% {
    background-color: white;
  }
  45% {
    background-color: white;
  }
  75% {
    background-color: lightgray;
  }
  90% {
    background-color: lightgray;
  }
  100% {
    background-color: white;
  }
}

.dispose-left {
  animation-name: dispose-left;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}

.show-right {
  animation-name: show-right;
  animation-duration: 150ms;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}

.dispose-right {
  animation-name: show-right;
  animation-direction: reverse;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}

.show-left {
  animation-name: dispose-left;
  animation-direction: reverse;
  animation-duration: 150ms;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}

.drag-and-drop {
  animation-name: drag-and-drop;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.highlight-dropzone {
  animation-name: highlight-dropzone;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#drop {
  background-color: lightgray;
}

#instructions > div {
  width: 100%;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: white;
  transition: 200ms;
}

.overlay > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// @import 'skills/html1.scss';
// @import 'skills/html2.scss';
// @import 'skills/css1.scss';
// @import 'skills/javascript.scss';
// @import 'skills/fireworks.scss';
// @import 'skills/about.scss';
// @import 'skills/monetize.scss';
// @import 'skills/search.scss';
// @import 'skills/social.scss';
